 body {
      background-color: #c7c7c7;
      font-family: Arial, sans-serif;
      background-image:url(../images/wallpaper2you_418256.jpg);
      background-position: center;
      background-size: 100% auto;
    }
    
    .container {
      width: 400px;
      margin: 250px auto;
      background-color: #bed1db;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
    
    h1 {
      text-align: center;
      color: #333333;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .form-group input {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
    }
    
    .form-group input[type="submit"] {
      background-color: #4caf50;
      color: #ffffff;
      cursor: pointer;
    }

    .back-button {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 5px;
      margin: 20px auto;
      background-color: #2196f3;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
    }
    
    .back-button:hover {
      opacity: 0.8;
    }